<div class = "footer container-fluid">

    <div class="col-sm-3"></div>
    <div class="col-sm-3">
        <h3>Contact Us</h3>
        <h4>Field Offices</h4>
        <h4>FBI Headquarters</h4>
        <h4>Overseas Offices</h4>
    </div>
    <div class="col-sm-3">
      <h3>Resources</h3>
      <h4>Law Enforcement</h4>
      <h4>Businesses</h4>
      <h4>Victim Assistance</h4>
    </div>
    <div class="col-sm-3">
      <h3>About</h3>
      <h4>Mission & Priorities</h4>
      <h4>Leadership & Structure</h4>
      <h4>Partnership</h4>
    </div>

<div>
