.footer {
    background-color: #09093B;
    color: silver;
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: auto;
    width: 100%;
    overflow:hidden;
    background: -webkit-linear-gradient(#09093B, #565695);
  /*background: url('../../assets/FBIseal.jpg') no-repeat center center;*/
}
