<br/>
<br/>

<div class='container-fluid'>
    <h4 class='centered'>Enter Evidence Below for Evidence Number {{evidence_number}}</h4>
  <div class='row'>
      <div class='col-md-6 form-group'>
          <label for='evidence_name'>Evidence Name:</label> <br>
          <input type='text' class='form-control' id='evidence_input_field' placeholder='Begin typing here...'>
          <!-- Name for a piece of evidence (text field) -->
      </div>
      <div class='col-md-6 form-group'>
          <label>For Analysis:</label><br>
          <input type='checkbox' value='for_analysis'>
          <!-- Whether or not this is for analysis (check box) -->
      </div>
  </div>
  <div class='row'>
      <div class='col-md-6'>
      </div>
      <div class='col-md-6'>
      </div>
  </div>
</div>
