.heading{
  border: silver;
  border-style: solid;
  padding-left: 1.5em;
  background: #F1F1F1;
  border-width: thin;
}
.table-heading{
  border: silver;
  border-style: solid;
  padding-left: 0.7em;
  border-width: thin;
}
.p-B-16em{
  padding-bottom: 16em;
}
.btn-place{
  font-size: 1.8em;
  padding-left: 0.6em;
  color : #2196f3;
  cursor: pointer;
}
.icon{
  font-size : 0.8em;
}
.table-content{
  font-weight: 300;
}
.bg-grey{
  background: #F1F1F1;
}
.cr-point{
  cursor: pointer;
}
.pd-bt-05{
  margin-top : 0.5em;
  margin-bottom: 0.5em;
}
.no-wd{
  width: 15.8%
}
.tb-wd{
  width: 68.3%
}

