.heading{
  border: silver;
  border-style: solid;
  padding-left: 1.5em;
  background: #F1F1F1;
  border-width: thin;
}
.table-heading{
  border: silver;
  border-style: solid;
  padding-left: 0.7em;
  border-width: thin;
}
.pd-tb-05{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.bgcol{
  background: #F1F1F1;
}
.table-content{
  font-weight: 300;
}
