<div class="col-xs-12 col-sm-12 col-md-12">
    <div class="col-xs-1 col-sm-2 col-md-2"></div>
    <div class="col-xs-10 col-sm-8 col-md-8">
        <div class="col-xs-12 col-sm-12 col-md-12 heading">
            <h4>Notes</h4>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 table-heading">
            <div class="btn-group pd-tb-05" [ngClass] = "dropDownFlag === true ? 'open' : ''">
                <a  class="btn btn-primary" (click) = "dropDown()">Create Details</a>
                <a  class="btn btn-primary dropdown-toggle" (click) = "dropDown()" aria-expanded="true"><span class="caret"></span></a>
                <ul class="dropdown-menu" *ngIf = "dropDownFlag === true">
                    <li (click) = "onKDetail()"><a>K Item Details</a></li>
                    <li (click) = "onQDetail()"><a>Q Item Details</a></li>                                        
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 table-heading bgcol">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h5>Detail Type</h5>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-7">
                <h5>Description</h5>
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2">
                <h5>Evidence IDs</h5>
            </div>    
        </div>
        <div *ngFor = "let content of knowns">
            <div class="col-xs-12 col-sm-12 col-md-12 table-heading"  >
                <div class="col-xs-12 col-sm-3 col-md-3 crs" (click) = "kNote(content.id)">
                     <i *ngIf = "content.markedComplete == false" class="fa fa-pencil icon" aria-hidden="true"></i><h6 class="pd-l-17em">Known Note</h6>
                </div>
                <div class="col-xs-12 col-sm-7 col-md-7">
                    <h6 [innerHTML] = "content.noteMessage"></h6>
                </div>
                <div class = "col-xs-12 col-sm-2 col-md-2">
                    <h6>{{content.evidences}}</h6>
                </div>
            </div>
        </div>
        <div *ngFor = "let content of ques">
            <div class="col-xs-12 col-sm-12 col-md-12 table-heading" (click) = "qNote(content.id)" >
                <div class="col-xs-12 col-sm-3 col-md-3 crs">
                     <i *ngIf = "content.markedComplete == false" class="fa fa-pencil icon" aria-hidden="true"></i><h6 class="pd-l-17em">Question Note</h6>
                </div>
                <div class="col-xs-12 col-sm-7 col-md-7">
                    <h6 [innerHTML] = "content.noteMessage"></h6>
                </div>
                <div class = "col-xs-12 col-sm-2 col-md-2">
                    <h6>{{content.evidences}}</h6>
                </div>
            </div>
        </div>           
    </div>
</div>