.heading{
  border: silver;
  border-style: solid;
  padding-left: 1.5em;
  background: #F1F1F1;
  border-width: thin;
}
.table-heading{
  border: silver;
  border-style: solid;
  padding-left: 0.7em;
  border-width: thin;
}
.pd-tb-05{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.bgcol{
  background: #F7F7F7;
}
.table-content{
  font-weight: 300;
}
.pd-l-17em{
  padding-left: 1.7em;
}
.icon{
    position: absolute;
    font-size: 1.3em;
    padding-top: 0.5em;
}
.crs{
  cursor: pointer;
}

.top-bottom-margin {
  margin-top:-10px;
  margin-bottom: 10px;
}