.pd_0{
  padding : 0em;
}
.p-l-0em{
  padding-left: 0em;
}
.flex-dp{
  display: flex;
}

body {
	overflow: hidden;
}

.top-padding {
	padding-top: 60px;
}

/* Suggested by UX, unclear what element to add to*/
.content {
	width: 100%;
	padding: 20px;
}
