.sidenav {
  height: 100%;
  background-color: #3a3a3a;
  overflow-x: hidden;
  min-height: 67.5em;
  width: 200px;
}
.p-1em{
  padding-top: 1em;
  padding-left: 0.5em;
  cursor: pointer; 
}
.picked{
  color : white;
}
.unpicked{
  color : black;
}

.show {display:block;}

.fixed-sidenav {
  position: -webkit-sticky;
  position: sticky;
  position: fixed;
  z-index: 1;
}

.nav-item {
  padding: 8px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #0c83e1;
    border-color: #285e8e; /*set the color you want here*/
}

