<div class = "col-xs-12 col-sm-12 col-md-12">
    <div class = "row">
        <div class = "col-xs-1 col-sm-2 col-md-2"></div>
        <div class = "col-xs-10 col-sm-8 col-md-8 heading">
            <h4>{{heading.tableHeading}}</h4>
        </div> 
    </div>
    <div class = "row">
        <div class = "col-xs-1 col-sm-2 col-md-2"></div>
        <div class = "col-xs-10 col-sm-8 col-md-8 table-heading">
            <div *ngFor = "let head of heading.headings">
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <h5>{{head}}</h5>
                </div>               
            </div>
            <div class = "col-xs-12 col-sm-3 col-md-3"></div>    
        </div>    
    </div>
    <div *ngFor = "let detail of EvidenceDetails let even = even">
        <div class = "row">
            <div class = "col-xs-1 col-sm-2 col-md-2"></div>
            <div class = "col-xs-10 col-sm-8 col-md-8 table-heading" [ngClass] = "even ? 'bg-grey' : ''">
                <div class = "col-xs-12 col-sm-3 col-md-3 pd-1e">
                    <input type="checkbox" name="item-check" [(ngModel)] = "detail.isSelected" (change) = "OnSelected()" />
                </div>
                <div class = "col-xs-12 col-sm-3 col-md-3 ">
                    <h6 class="pd-l-1em">{{detail.value}}</h6>
                </div>
                <div class = "col-xs-12 col-sm-3 col-md-3">
                    <h6>{{detail.label}}</h6>
                </div>
                <div class = "col-xs-12 col-sm-3 col-md-3"></div>            
             </div>    
        </div>
    </div>              
</div>
  

      