/* You can add global styles to this file, and also import other style files */
h3 {
	font-size: 22px;
}

h4 {
	font-size: 16px;
}

h5 {
	font-size: 14px;
}

.top-bottom-margin {
  margin-top:-15px;
  margin-bottom: 3px;
}

.table-create-button-margin {
  margin-bottom: 5px;
}