<div>
  <div class = "col-xs-1 col-sm-2 col-md-2"></div>
  <div class="col-xs-10 col-sm-8 col-md-8">
    <div class = "col-xs-12 col-sm-12 col-md-12 heading">
      <h4>{{heading.tableHeading}}</h4>
    </div>
    <div class= "col-xs-12 col-sm-12 col-md-12 table-heading">
      <div *ngFor = "let head of heading.mainHeading">
        <div class = "col-xs-12 col-sm-3 col-md-3">
          <h5>{{head}}</h5>
        </div>
      </div>
    </div>
    <div class= "col-xs-12 col-sm-12 col-md-12 table-heading">
      <div class = "btn-place" routerLink="../evidence/new"><i class="fa fa-plus-square" aria-hidden="true"></i><span class = "icon">&nbsp;{{heading.addButton}}</span></div>
    </div>
    <div *ngFor = "let content of evidenceContainer">
      <div class= "col-xs-12 col-sm-12 col-md-12 table-heading" [ngClass] = "checkFlag() ? 'bg-grey' : ''" >
        <div class = "col-xs-12 col-sm-3 col-md-3">
          <h5 class = "table-content">{{checkEvidenceType(content.evidenceType)}}</h5>
        </div>
        <div class = "col-xs-12 col-sm-3 col-md-3">
          <h5 class = "table-content">{{content.id}}</h5>
        </div>
        <div class = "col-xs-12 col-sm-3 col-md-3">
          <h5 class = "table-content">{{content.containerName}}</h5>
        </div>
        <div class = "col-xs-12 col-sm-3 col-md-3">
        </div>
      </div>
      <div *ngFor = "let pk of content.packages">
        <div class= "col-xs-12 col-sm-12 col-md-12 table-heading" [ngClass] = "checkFlag() ? 'bg-grey' : ''" >
          <div class = "col-xs-12 col-sm-3 col-md-3 p-L-2em">
            <h5 class = "table-content">{{checkEvidenceType(pk.evidenceType)}}</h5>
          </div>
          <div class = "col-xs-12 col-sm-3 col-md-3">
            <h5 class = "table-content">{{pk.id}}</h5>
          </div>
          <div class = "col-xs-12 col-sm-3 col-md-3">
            <h5 class = "table-content">{{pk.packageName}}</h5>
          </div>
          <div class = "col-xs-12 col-sm-3 col-md-3">
          </div>
        </div>
        <div *ngFor = "let it of pk.items">
          <div class= "col-xs-12 col-sm-12 col-md-12 table-heading" [ngClass] = "checkFlag() ? 'bg-grey' : ''" >
            <div class = "col-xs-12 col-sm-3 col-md-3 p-L-3em">
              <h5 class = "table-content">{{checkEvidenceType(it.evidenceType)}}</h5>
            </div>
            <div class = "col-xs-12 col-sm-3 col-md-3">
              <h5 class = "table-content">{{it.id}}</h5>
            </div>
            <div class = "col-xs-12 col-sm-3 col-md-3">
              <h5 class = "table-content">{{it.evidenceName}}</h5>
            </div>
            <div class = "col-xs-12 col-sm-3 col-md-3 check">
              <input  type = "checkbox" name = "item_check" value = "it.isForAnalysis" [(ngModel)] = "it.isForAnalysis" (change) = "OnChange($event)">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
