<div>
  <div class = "col-xs-1 col-sm-2 col-md-2"></div>
  <div class="col-xs-10 col-sm-8 col-md-8">
    <div class = "col-xs-12 col-sm-12 col-md-12 heading">
      <h4>{{heading.tableHeading}}</h4>
    </div>
    <div class= "col-xs-12 col-sm-12 col-md-12 table-heading">
      <!--<div class = "btn-place" routerLink="../evidence/new"><i class="fa fa-plus-square" aria-hidden="true"></i><span class = "icon">&nbsp;{{heading.addButton}}</span></div>-->
      <a routerLink="../evidence/new" class="btn btn-primary pd-bt-05">{{heading.addButton}}</a>
    </div>
    <div class= "col-xs-12 col-sm-12 col-md-12 table-heading">
      <div *ngFor = "let head of heading.mainHeading">
        <div class = "col-xs-12 col-sm-3 col-md-3">
          <h5>{{head}}</h5>
        </div>
      </div>
    </div>    
    <div *ngFor = "let content of evidenceContainer">
      <div class= "col-xs-12 col-sm-12 col-md-12 table-heading" [ngClass] = "checkFlag() ? 'bg-grey' : ''" >
        <div class = "col-xs-12 col-sm-3 col-md-3 crs" (click) = "viewEvidence(content.id)">
          <h6>{{checkEvidenceType(content.evidenceType)}}</h6>
        </div>
        <div class = "col-xs-12 col-sm-3 col-md-3">
          <h6>{{content._id}}</h6>
        </div>
        <div class = "col-xs-12 col-sm-3 col-md-3">
          <h6>{{content.containerName}}</h6>
        </div>
        <div class = "col-xs-12 col-sm-3 col-md-3">
        </div>
      </div>
      <div *ngFor = "let pk of content.packages">
        <div class= "col-xs-12 col-sm-12 col-md-12 table-heading" [ngClass] = "checkFlag() ? 'bg-grey' : ''" >
          <div class = "col-xs-12 col-sm-3 col-md-3 p-L-2em crs" (click) = "viewEvidence(pk.id)">
            <h6>{{checkEvidenceType(pk.evidenceType)}}</h6>
          </div>
          <div class = "col-xs-12 col-sm-3 col-md-3">
            <h6>{{pk._id}}</h6>
          </div>
          <div class = "col-xs-12 col-sm-3 col-md-3">
            <h6>{{pk.packageName}}</h6>
          </div>
          <div class = "col-xs-12 col-sm-3 col-md-3">
          </div>
        </div>
        <div *ngFor = "let it of pk.items">
          <div class= "col-xs-12 col-sm-12 col-md-12 table-heading" [ngClass] = "checkFlag() ? 'bg-grey' : ''" >
            <div class = "col-xs-12 col-sm-3 col-md-3 p-L-3em crs" (click) = "viewEvidence(it.id)">
              <h6>{{checkEvidenceType(it.evidenceType)}}</h6>
            </div>
            <div class = "col-xs-12 col-sm-3 col-md-3">
              <h6>{{it._id}}</h6>
            </div>
            <div class = "col-xs-12 col-sm-3 col-md-3">
              <h6>{{it.evidenceName}}</h6>
            </div>
            <div class = "col-xs-12 col-sm-3 col-md-3 check">
              <input  type = "checkbox" name = "item_check" value = "it.isForAnalysis" [(ngModel)] = "it.isForAnalysis" (change) = "OnChange(it.id,it.isForAnalysis)">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
