<div class = "col-xs-12 col-sm-12 col-md-12">
  <div class = "row">
    <div class = "col-xs-1 col-sm-2 col-md-2"></div>
    <div class="col-xs-10 col-sm-8 col-md-8">
      <h3 class = "head-align">Case Details</h3>
    </div>
  </div>
  <div class = "row">
    <div class = "col-xs-1 col-sm-2 col-md-2"></div>
    <div class="col-xs-10 col-sm-8 col-md-8">
      <div class= "col-xs-12 col-sm-6 col-md-6">
        <div class = "col-xs-12 col-sm-7 col-md-7">
          <h4 class = "pl-05em">Lab #</h4>
        </div>
        <div class = "col-xs-12 col-sm-5 col-md-5">
          <h4 class = "res pl-05em">{{casedata.Lab_no}}</h4>
        </div>
      </div>
      <div class= "col-xs-12 col-sm-6 col-md-6">
        <div class = "col-xs-12 col-sm-6 col-md-6">
          <h4 class = "pl-05em">Status</h4>
        </div>
        <div class = "col-xs-12 col-sm-6 col-md-6">
          <h4 class = "res pl-05em">{{casedata.Status}}</h4>
        </div>
      </div>
    </div>
  </div>
  <div class = "row">
    <div class = "col-xs-1 col-sm-2 col-md-2"></div>
    <div class="col-xs-10 col-sm-8 col-md-8">
      <div class= "col-xs-12 col-sm-12 col-md-12">
        <div class = "col-xs-12 col-sm-4 col-md-4">
          <h4 class = "pl-05em">Date/Time Opened</h4>
        </div>
        <div class = "col-xs-12 col-sm-8 col-md-8">
          <h4 class = "res pl-05em ">{{formatDate(casedata.Date_Opened)}}</h4>
        </div>
      </div>
    </div>
  </div>
  <div class = "row">
    <div class = "col-xs-1 col-sm-2 col-md-2"></div>
    <div class="col-xs-10 col-sm-8 col-md-8">
      <div class= "col-xs-12 col-sm-12 col-md-12">
        <div class = "col-xs-12 col-sm-4 col-md-4">
          <h4 class = "pl-05em">Violation</h4>
        </div>
        <div class = "col-xs-12 col-sm-8 col-md-8">
          <h4 class = "res pl-05em">{{casedata.Violation}}</h4>
        </div>
      </div>
    </div>
  </div>
  <div class = "row">
    <div class = "col-xs-1 col-sm-2 col-md-2"></div>
    <div class="col-xs-10 col-sm-8 col-md-8">
      <div class= "col-xs-12 col-sm-12 col-md-12">
        <div class = "col-xs-12 col-sm-4 col-md-4">
          <h4 class = "pl-05em">Violation Date/Time</h4>
        </div>
        <div class = "col-xs-12 col-sm-8 col-md-8">
          <h4 class = "res pl-05em">{{formatDate(casedata.Violation_Date)}}</h4>
        </div>
      </div>
    </div>
  </div>
  <div class = "col-xs-12 col-sm-12 col-md-12 p-T-6em">
    <fbi-table></fbi-table>
  </div>
  <div class = "col-xs-12 col-sm-12 col-md-12 p-T-6em">
    <fbi-exam-table></fbi-exam-table>
  </div>
</div>

<!-- Evidence Table -->
<div class='row'>
    <div class='col-md-12'>
       <table class='table table-striped'>
           <thead class='thead-inverse'>
               <tr>
                   <th>Evidence</th>
               </tr>
           </thead>
          <thead>
             <tr>
               <th>Type</th>
               <th>Number</th>
               <th>Name</th>
               <th>For Analysis</th>
             </tr>
           </thead>
           <tbody>
               <tr>
                   <td>
                     <a href='/evidence'>
                         <span class='glyphicon glyphicon-plus'></span>
                     </a>
                     Create Evidence
                   </td>
               </tr>
               <tr>
                   <td>Container</td>
                   <td>1</td>
                   <td>Name</td>
                   <td><input type='checkbox'></td>
               </tr>
               <tr>
                   <td>Package</td>
                   <td>1</td>
                   <td>Name</td>
                   <td><input type='checkbox'></td>
               </tr>
               <tr>
                   <td>Item</td>
                   <td>1</td>
                   <td>Name</td>
                   <td><input type='checkbox'></td>
               </tr>
           </tbody>
       </table>

       <!-- End Evidence Table -->
       
       <!-- Examinations Table -->
       <table class='table table-striped'>
           <thead class='thead-inverse'>
               <tr>
                   <th>Examinations</th>
               </tr>
           </thead>
          <thead>
             <tr>
               <th>Type</th>
               <th>Name</th>
               <th>Examiner</th>
               <th>Start Date/Time</th>
               <th>Complete Date/Time</th>
             </tr>
           </thead>
           <tbody>
               <tr>
                   <td>
                     <a href='/exam'>
                         <span class='glyphicon glyphicon-plus'></span>
                     </a>
                     Create Exam
                   </td>
               </tr>
               <tr>
                   <td>Shoe/Tire</td>
                   <td>Name</td>
                   <td>John Wilson</td>
                   <td>Apr 6, 2017 16:00 EST</td>
                   <td>Apr 7, 2017 10:00 EST</td>
               </tr>
           </tbody>
       </table>
       <!-- End Examinations Table -->
    </div>
</div>
