<div class = "row " style="padding-top: 2em;">
  <div class= "col-sm-4"></div>
  <div class = "col-sm-7 main_sec">
    <div class = "col-sm-6">
      <h3>Lab No: {{casedata.Lab_no}}</h3>
      <h3>Date Opened : {{casedata.Date_Opened}}</h3>
      <h3>Violation Date: {{casedata.Violation_Date}}</h3>
    </div>
    <div class = "col-sm-6">
      <h3>Status: {{casedata.Status}}</h3>
      <h3>Violation No: {{casedata.Violation}}</h3>
    </div>
  </div>
</div>

<div class='row'>
    <div class='col-md-12'>
       <table class='table table-striped'>
           <thead class='thead-inverse'>
               <tr>
                   <th>Evidence</th>
               </tr>
           </thead>
          <thead>
             <tr>
               <th>Type</th>
               <th>Number</th>
               <th>Name</th>
               <th>For Analysis</th>
             </tr>
           </thead>
           <tbody>
               <tr>
                   <td>
                     <a href='/evidence'>
                         <span class='glyphicon glyphicon-plus'></span>
                     </a>
                     Create Evidence
                   </td>
               </tr>
               <tr>
                   <td>Container</td>
                   <td>1</td>
                   <td>Name</td>
                   <td><input type='checkbox'></td>
               </tr>
               <tr>
                   <td>Package</td>
                   <td>1</td>
                   <td>Name</td>
                   <td><input type='checkbox'></td>
               </tr>
           </tbody>
       </table>
    </div>
</div>
