<div>
    <div class="row">
        <div class="col-xs-1 col-sm-2 col-md-2"></div>
        <div class="col-xs-10 col-sm-8 col-md-8">
            <h3 class="head-align">Notes - {{path === 'new' ? 'New' : 'View/Edit'}} (K Item Details,{{type === 'shoe' ? 'Shoe' : 'Tire'}})</h3>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 pd-t-25em">
        <evidence-table [path]="type"></evidence-table>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 pd-t-25em">
        <div class="col-xs-1 col-sm-2 col-md-2"></div>
        <div class="col-xs-10 col-sm-8 col-md-8">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h5 class="tx-align">Type</h5>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5">
                <select class="form-control" #select1 [(ngModel)]="KtypeModel">
                    <option *ngFor = "let option of Ktype" [value]="option.value">{{option.label}}</option>                        
                </select>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="col-xs-1 col-sm-2 col-md-2"></div>
        <div class="col-xs-10 col-sm-8 col-md-8">
            <div *ngIf="type == 'shoe'">
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <h5 class="tx-align">Style</h5>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5">
                    <select class="form-control" #select1 [(ngModel)]="KstyleModel">
                        <option *ngFor = "let option of Kstyle" [value]="option.value">{{option.label}}</option>                        
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="col-xs-1 col-sm-2 col-md-2"></div>
        <div class="col-xs-10 col-sm-8 col-md-8">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h5 class="tx-align">Brand Name</h5>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5">
                <input type="text" class="form-control" id="inputError" [value]="brandName"  [(ngModel)]="brandName" [attr.placeholder]="'Enter Brand Name'">
            </div>            
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="col-xs-1 col-sm-2 col-md-2"></div>
        <div class="col-xs-10 col-sm-8 col-md-8">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h5 class="tx-align">Size</h5>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5">
                <input type="text" class="form-control" id="inputError" [value]="size"  [(ngModel)]="size" [attr.placeholder]="'Enter Size'">
            </div>            
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="col-xs-1 col-sm-2 col-md-2"></div>
        <div class="col-xs-10 col-sm-8 col-md-8">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h5 class="tx-align">Model</h5>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5">
                <input type="text" class="form-control" id="inputError" [value]="model"  [(ngModel)]="model" [attr.placeholder]="'Enter Model'">
            </div>            
        </div>
    </div>
    <div *ngIf = "type == 'tire'">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="col-xs-1 col-sm-2 col-md-2"></div>
            <div class="col-xs-10 col-sm-8 col-md-8">
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <h5 class="tx-align">DOT #</h5>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5">
                    <input type="text" class="form-control" id="inputError" [value]="DOT"  [(ngModel)]="DOT" [attr.placeholder]="'Enter DOT#'">
                </div>            
            </div>
        </div>
    </div>
    <div *ngIf = "type == 'tire'">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="col-xs-1 col-sm-2 col-md-2"></div>
            <div class="col-xs-10 col-sm-8 col-md-8">
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <h5 class="tx-align">Position on Vehicle</h5>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5">
                    <select class="form-control" #select1 [(ngModel)]="POV">
                        <option *ngFor = "let option of PovType" [value]="option.value">{{option.label}}</option>                        
                    </select>
                </div>            
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 pd-t-25em" *ngIf = "type == 'shoe'">
        <div class="col-xs-1 col-sm-2 col-md-2"></div>
        <div class="col-xs-10 col-sm-8 col-md-8">
            <div class = "heading"><h4>Label Info</h4></div>
            <textarea [froalaEditor]='{heightMin : 200}' [(ngModel)] = "textData" ></textarea>
        </div>    
    </div> 
    <div class="col-xs-12 col-sm-12 col-md-12 pd-t-25em" >
        <div class="col-xs-1 col-sm-2 col-md-2"></div>
        <div class="col-xs-10 col-sm-8 col-md-8">
           <textarea [froalaEditor]='{heightMin : 200}' [(ngModel)] = "textData1"  ></textarea>
        </div>    
    </div>
    <div class = "col-xs-12 col-sm-12 col-md-12 pd-t-25em">
        <div class="col-xs-1 col-sm-2 col-md-2"></div>
        <div class="col-xs-11 col-sm-8 col-md-8">
            <input  type = "checkbox" name = "item_check"><span>&nbsp;Mark as Completed</span>
        </div>
    </div>    
    <div class = "col-xs-12 col-sm-12 col-md-12 pd-t-1em pd-b-3em">
        <div class="col-xs-1 col-sm-2 col-md-2"></div>
        <div class="col-xs-11 col-sm-8 col-md-8"> 
            <button type="button" class="btn btn-primary bt-width" (click) = "onSave()">SAVE</button>&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-danger bt-width" (click) = "onCancel()">CANCEL</button>
        </div>    
    </div>   
</div>