<nav class='navbar navbar-default black-navbar'>
    <div class='container-fluid black-navbar'>
        <div class='navbar-header black-navbar'>
            <div class='row fbi-header-background'>
                <div class='col-md-4'>
                    <img src='assets/fbi.png'>
                </div>
                <div class='col-md-8'>
                    <h3 class='white-text'>
                        Federal Bureau of Investigation
                    </h3>
                    <h4 class='white-text'>
                        ELab Tool
                    </h4>
                </div>
            </div>
        </div>
    </div>
</nav>
