.black-navbar {
    background-color: #000000;
}

.fbi-header-background {
    background: url('../../assets/fbi-header.png') no-repeat center center;
    width: 100%;
    background-size: cover;
    height: 60px;
}

.centered {
    text-align: center;
    text-align: justify;
}

.white-text {
    color: #ffffff;
    font-size: 34px;
}
.grey-bg{
  background: #F1F1F1;
}

.fixed-header {
  position: -webkit-sticky;
  position: sticky;
  position: fixed;
  z-index: 1;
}

.header-title-margin {
  margin-top:12px,
}