.head-align{
  padding: 1em;
  border-bottom: silver;
  border-bottom-style: solid;
}
.pd-L-4em{
    padding-left: 4em;
}
.tx-align{
    text-align: right;
}
.sel-wid{
    width: 100%;
}
.pd-t-3em{
    padding-top: 3em;
}
.nl-sp{
    width: 17.5%
}
.pd-b-3em{
    padding-bottom: 3em;
}
.bt-width{
    width: 10em;
}
.pd-b-1em{
    padding-bottom: 1em;
}
input[type="checkbox"]{
  width: 16px; /*Desired width*/
  height: 16px; /*Desired height*/
}
.heading{
  border: silver;
  border-style: solid;
  padding-left: 1.5em;
  background: #F1F1F1;
  border-width: thin;
}