<div class="col-xs-12 col-sm-12 col-md-12">
     <div class = "row">
         <div class="col-xs-1 col-sm-2 col-md-2"></div>
        <div class="col-xs-10 col-sm-8 col-md-8">
                <h3 class="head-align">{{type === 'tire' ? 'Tire' : 'Shoe'}} Notes - {{path === 'new' ? 'New' : 'View/Edit'}}</h3>
        </div>
     </div>
     <div class = "row">
         <div class="col-xs-1 col-sm-2 col-md-2"></div>
         <div class="col-xs-11 col-sm-8 col-md-8 pd-L-4em">
             <div class="col-xs-12 col-sm-3 col-md-3 tx-align">
                <h4>Assessment</h4>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-7">
                <select class="form-control" #select  [(ngModel)]="assessmentModel">
                        <option *ngFor = "let option of assessmentOptions" [value]="option.value">{{option.label}}</option>                        
                </select>
            </div>    
         </div>    
     </div>
     <div class = "row">
         <div class="col-xs-1 col-sm-2 col-md-2"></div>
         <div class="col-xs-11 col-sm-8 col-md-8 pd-L-4em">
             <div class="col-xs-12 col-sm-3 col-md-3 tx-align">
                <h4>Conducted By</h4>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-7">
                <select class="form-control" #select  [(ngModel)]="conductedBy">
                        <option *ngFor = "let option of conductedOptions" [value]="option.value">{{option.label}}</option>                        
                </select>
            </div>    
         </div>    
     </div>     
     <div class = "row">
        <div class="col-xs-1 col-sm-2 col-md-2"></div>
        <div class="col-xs-11 col-sm-8 col-md-8 pd-L-4em">
            <div class="col-xs-12 col-sm-3 col-md-3 tx-align">
                <h4>Creation Date</h4>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-7 ">
                <div (change)="test()" [ngClass]="startDateError ? 'has-error' : ''">
                    <div *ngIf="startDateError === true"><label class="control-label" for="inputError">Please enter a valid Date (MM-DD-YYYY)</label></div>
                    <div class="col-xs-2 col-sm-2 col-md-2">
                        <input type="text" class="form-control p-6t" maxlength=2 [(ngModel)]="startDate.month" [attr.placeholder]="'MM'">
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2">
                        <input type="text" class="form-control p-6t" maxlength=2 [(ngModel)]="startDate.date" [attr.placeholder]="'DD'">
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2">
                        <input type="text" class="form-control p-6t" maxlength=4 [(ngModel)]="startDate.year" [attr.placeholder]="'YYYY'">
                    </div>
                </div>
            </div>
        </div>
     </div>
     <div class = "row">
        <div class="col-xs-1 col-sm-2 col-md-2"></div>
        <div class="col-xs-11 col-sm-8 col-md-8 pd-L-4em">
            <div class="col-xs-12 col-sm-3 col-md-3 tx-align">
                <h4>Request Type</h4>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-7 ">
                <select #select multiple [(ngModel)]="requestType" class = "sel-wid"> 
                    <option *ngFor="let item of requestOptions" [value]="item.value">{{item.label}}</option>
                </select>
            </div>
        </div>            
     </div>
     <div class = "row">
         <div class="col-xs-1 col-sm-2 col-md-2"></div>
         <div class="col-xs-11 col-sm-8 col-md-8 pd-L-4em">
             <div class="col-xs-12 col-sm-3 col-md-3 tx-align">
                <h4>Method</h4>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-7">
                <select class="form-control" #select  [(ngModel)]="methodModel">
                        <option *ngFor = "let option of methodOptions" [value]="option.value">{{option.label}}</option>                        
                </select>
            </div>    
         </div>    
     </div>                   
</div>    