<div>
    <div class="col-xs-1 col-sm-2 col-md-2 nl-sp"></div>
    <div class="col-xs-10 col-sm-8 col-md-8 box-align">

        <div class="col-xs-12 col-sm-12 col-md-12 heading">
            <h4>Notes</h4>
            <div class="btn-group pd-tb-05 top-bottom-margin"  [ngClass] = "dropDownFlag === true ? 'open' : ''">
                <a class="btn btn-primary btn-sm" (click) = "dropDown()">Create</a>
                <a class="btn btn-primary dropdown-toggle btn-sm"  (click) = "dropDown()" aria-expanded="true"><span class="caret"></span></a>
                <ul class="dropdown-menu" *ngIf = "dropDownFlag === true">
                    <li (click) = "shoeNote()"><a>Shoe Note</a></li>
                    <li (click) = "tireNote()"><a>Tire Note</a></li>                                        
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-sm-12 table-heading">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h5>Note Type</h5>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-6">
                <h5>Note</h5>
            </div>
            <div class="col-xs-12 col-sm-2 col-md-3">
                <h5>Evidence IDs</h5>
            </div>            
        </div>
        <div class="col-xs-12 col-sm-12 col-sm-12 table-heading bg-grey">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h6>Initial Assesment</h6>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-7">                
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2">                
            </div>            
        </div>        
        <div *ngFor="let note of shoeDetails let i = index">
            <div class="col-xs-12 col-sm-12 col-sm-12 table-heading b-grey" >
                <div class="col-xs-12 col-sm-3 col-md-3 crs" (click) = "viewShoeNote(note.initialAssessmentNote.id)">
                    <i *ngIf = "note.initialAssessmentNote.markedComplete == false"class="fa fa-pencil icon" aria-hidden="true"></i><h6 class="pd-l-17em">Shoe Note</h6>
                </div>
                <div class="col-xs-12 col-sm-7 col-md-7">
                    <h6 [innerHTML]="note.initialAssessmentNote.noteMessage"></h6>
                </div>
            </div>
            <div *ngFor="let known of note.knowns let odd = odd">
                <div class="col-xs-12 col-sm-12 col-sm-12 table-heading">
                    <div class="col-xs-12 col-sm-3 col-md-3 crs" (click) = "viewShoeKNote(known.id)">
                        <i *ngIf = "known.markedComplete == false"class="fa fa-pencil icon" aria-hidden="true"></i><h6 class="pd-l-17em">K Item Details</h6>
                    </div>
                    <div class="col-xs-12 col-sm-7 col-md-7">
                        <h6 [innerHTML] = "known.noteMessage"></h6>
                    </div>
                    <div class = "col-xs-12 col-sm-2 col-md-2">
                        <h6>{{known.evidences}}</h6>
                    </div>
                </div>                
            </div>
            <div *ngFor="let ques of note.questions let odd = odd">
                <div class="col-xs-12 col-sm-12 col-sm-12 table-heading">
                    <div class="col-xs-12 col-sm-3 col-md-3 crs" (click) = "viewQuesNote(ques.id)">
                        <i *ngIf = "ques.markedComplete == false"class="fa fa-pencil icon" aria-hidden="true"></i><h6 class="pd-l-17em">Q Item Details</h6>
                    </div>
                    <div class="col-xs-12 col-sm-7 col-md-7">
                        <h6 [innerHTML] = "ques.noteMessage" ></h6>
                    </div>
                    <div class = "col-xs-12 col-sm-2 col-md-2">
                        <h6>{{ques.evidences}}</h6>
                    </div>
                </div>                
            </div>
        </div>
        <div *ngFor="let note of tireDetails let i = index">
            <div class="col-xs-12 col-sm-12 col-sm-12 table-heading b-grey">
                <div class="col-xs-12 col-sm-3 col-md-3 crs" (click) = "viewTireNote(note.initialAssessmentNote.id)">
                    <i *ngIf = "note.initialAssessmentNote.markedComplete == false"class="fa fa-pencil icon" aria-hidden="true"></i><h6 class="pd-l-17em">Tire Note</h6>
                </div>
                <div class="col-xs-12 col-sm-7 col-md-7">
                    <h6>{{note.initialAssessmentNote.noteMessage}}</h6>
                </div>
            </div>
            <div *ngFor="let known of note.knowns let odd = odd">
                <div class="col-xs-12 col-sm-12 col-sm-12 table-heading">
                    <div class="col-xs-12 col-sm-3 col-md-3 crs" (click) = "viewTireKNote(known.id)">
                        <i *ngIf = "known.markedComplete == false"class="fa fa-pencil icon" aria-hidden="true"></i><h6 class="pd-l-17em">K Item Details</h6>
                    </div>
                    <div class="col-xs-12 col-sm-7 col-md-7">
                        <h6 [innerHTML] = "known.noteMessage" ></h6>
                    </div>
                    <div class = "col-xs-12 col-sm-2 col-md-2">
                        <h6>{{known.evidences}}</h6>
                    </div>
                </div>                
            </div>
            <div *ngFor="let ques of note.questions let odd = odd">
                <div class="col-xs-12 col-sm-12 col-sm-12 table-heading">
                    <div class="col-xs-12 col-sm-3 col-md-3 crs" (click) = "viewQuesNote(ques.id)">
                        <i *ngIf = "ques.markedComplete == false"class="fa fa-pencil icon" aria-hidden="true"></i><h6 class="pd-l-17em">Q Item Details</h6>
                    </div>
                    <div class="col-xs-12 col-sm-7 col-md-7">
                        <h6 [innerHTML] = "ques.noteMessage"></h6>
                    </div>
                    <div class = "col-xs-12 col-sm-2 col-md-2">
                        <h6>{{ques.evidences}}</h6>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>