<div>
    <div class="col-xs-1 col-sm-2 col-md-2 nl-sp"></div>
    <div class="col-xs-10 col-sm-8 col-md-8 box-align">
        <div class="col-xs-12 col-sm-12 col-md-12 heading">
            <h4>Notes</h4>
        </div>
        <div class="col-xs-12 col-sm-12 col-sm-12 table-heading">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Type</h5>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8">
                <h5>Name</h5>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-sm-12 table-heading">
            <div class="btn-group pd-tb-05" [ngClass] = "dropDownFlag === true ? 'open' : ''">
                <a  class="btn btn-primary">Create Notes</a>
                <a  class="btn btn-primary dropdown-toggle" (click) = "dropDown()" aria-expanded="true"><span class="caret"></span></a>
                <ul class="dropdown-menu" *ngIf = "dropDownFlag === true">
                    <li (click) = "shoeNote()"><a>Shoe Note</a></li>
                    <li (click) = "tireNote()"><a>Tire Note</a></li>                                        
                </ul>
            </div>
        </div>
        <div *ngFor="let note of noteDetails let i = index">
            <div class="col-xs-12 col-sm-12 col-sm-12 table-heading bg-grey">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>{{note.type}}</h5>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8">
                    <h5>{{note.name}}</h5>
                </div>
            </div>
            <div *ngFor="let dt of note.subtype let odd = odd">
                <div class="col-xs-12 col-sm-12 col-sm-12 table-heading" [ngClass] = "odd ? 'bg-grey' : ''">
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <h5>{{dt.type}}</h5>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-8">
                        <h5>{{dt.name}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>