<div class="col-xs-12 col-sm-12 col-md-12">
    <div class="row">
        <div class="col-xs-1 col-sm-2 col-md-2"></div>
        <div class="col-xs-10 col-sm-8 col-md-8">
            <h3 class="head-align">Examination - {{path === 'new' ? 'New' : 'View/Edit'}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1 col-sm-2 col-md-2"></div>
        <div class="col-xs-11 col-sm-8 col-md-8">
            <div class="col-xs-12 col-sm-3 col-md-3 tx-align-right">
                <h4>Name</h4>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-7">
                <div class="form-group">
                    <input type="text" class="form-control" id="inputError" [value]="NameInput" [(ngModel)]="NameInput" [attr.placeholder]="'Enter Name'">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1 col-sm-2 col-md-2"></div>
        <div class="col-xs-11 col-sm-8 col-md-8">
            <div class="col-xs-12 col-sm-3 col-md-3 tx-align-right">
                <h4>Type</h4>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-7">
                <select class="form-control" #select [(ngModel)]="selectModel">
                    <option *ngFor = "let option of examType" [value]="option.value">&nbsp;&nbsp;{{option.label}}</option>                        
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1 col-sm-2 col-md-2"></div>
        <div class="col-xs-11 col-sm-8 col-md-8">
            <div class="col-xs-12 col-sm-3 col-md-3 tx-align-right">
                <h4>Examiners</h4>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-7">
               <select class="form-control" #select1  [(ngModel)]="examinerModel">
                    <option *ngFor = "let option of examiners" [value]="option.value">&nbsp;&nbsp;{{option.label}}</option>                        
                </select>              
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1 col-sm-2 col-md-2"></div>
        <div class="col-xs-11 col-sm-8 col-md-8">
            <div class="col-xs-12 col-sm-3 col-md-3 tx-align-right">
                <h4>Assigned Date</h4>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8">
                <div [ngClass]="assignDateError ? 'has-error' : ''">
                    <div *ngIf="assignDateError === true"><label class="control-label" for="inputError">Please enter a valid Date (MM-DD-YYYY)</label></div>
                    <div class="col-xs-2 col-sm-2 col-md-2">
                        <input type="text" class="form-control p-6t" maxlength=2 [(ngModel)]="assignDate.month" [attr.placeholder]="'MM'">
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2">
                        <input type="text" class="form-control p-6t" maxlength=2 [(ngModel)]="assignDate.date" [attr.placeholder]="'DD'">
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2">
                        <input type="text" class="form-control p-6t" maxlength=4 [(ngModel)]="assignDate.year" [attr.placeholder]="'YYYY'">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1 col-sm-2 col-md-2"></div>
        <div class="col-xs-11 col-sm-8 col-md-8">
            <div class="col-xs-12 col-sm-3 col-md-3 tx-align-right">
                <h4>Start Date</h4>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8">
                <div  [ngClass]="startDateError ? 'has-error' : ''">
                    <div *ngIf="startDateError === true"><label class="control-label" for="inputError">Please enter a valid Date (MM-DD-YYYY)</label></div>
                    <div class="col-xs-2 col-sm-2 col-md-2">
                        <input type="text" class="form-control p-6t" maxlength=2 [(ngModel)]="startDate.month" [attr.placeholder]="'MM'">
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2">
                        <input type="text" class="form-control p-6t" maxlength=2 [(ngModel)]="startDate.date" [attr.placeholder]="'DD'">
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2">
                        <input type="text" class="form-control p-6t" maxlength=4 [(ngModel)]="startDate.year" [attr.placeholder]="'YYYY'">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1 col-sm-2 col-md-2"></div>
        <div class="col-xs-11 col-sm-8 col-md-8">
            <div class="col-xs-12 col-sm-3 col-md-3 tx-align-right">
                <h4>Completed Date</h4>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8">
                <div  [ngClass]="completedDateError ? 'has-error' : ''">
                    <div *ngIf="completedDateError === true"><label class="control-label" for="inputError">Please enter a valid Date (MM-DD-YYYY)</label></div>
                    <div class="col-xs-2 col-sm-2 col-md-2">
                        <input type="text" class="form-control p-6t" maxlength=2 [(ngModel)]="completedDate.month" [attr.placeholder]="'MM'">
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2">
                        <input type="text" class="form-control p-6t" maxlength=2 [(ngModel)]="completedDate.date" [attr.placeholder]="'DD'">
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2">
                        <input type="text" class="form-control p-6t" maxlength=4 [(ngModel)]="completedDate.year" [attr.placeholder]="'YYYY'">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="col-xs-12 col-sm-12 col-md-12 p-3t">
        <evidence-table [EvidenceDetails] = "evidences" (evidencesSelected) = "evidencesSelected($event)"></evidence-table>
    </div>-->
    <div class="col-xs-12 col-sm-12 col-md-12 p-3t p-3b">
        <note-table (buttonClicked) = "createNote($event)"></note-table>
    </div>
    
    
        <div class="col-xs-1 col-sm-2 col-md-2"></div>
        <div class="col-xs-11 col-sm-10 col-md-10">
            <button type="button" class="btn btn-primary bt-width" (click)="OnSave()">SAVE</button>&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-danger bt-width" (click)="OnCancel()">CANCEL</button>
        </div>
        <div class="col-xs-1 col-sm-2 col-md-2"></div>
        <!--<div class="col-xs-11 col-sm-10 col-md-10 p-1t p-3b" (click) = "onAnother()">
            <i class="fa fa-check-square ft-15" aria-hidden="true"></i><span>&nbsp;Create Another</span>
        </div>-->
        <div class="col-xs-11 col-sm-10 col-md-10 p-1t p-3b">
          <h5>
            <span>Create Another</span>
            <input type='checkbox' [(ngModel)]="createAnother" (change)="onCreateAnother()">
          </h5>
        </div>
    
</div>