.head-align{
  padding: 1em;
  border-bottom: silver;
  border-bottom-style: solid;
}
.pd-L-4em{
    padding-left: 4em;
}
.tx-align{
    text-align: left;
}
.p-2t{
   padding-bottom: 0.2em;
   padding-top: 0.2em; 
}
.p-6t{
    padding-left: 0.6em;
}

.p-3t{
    padding-top: 3em;
}
.ed{
    font-size: 1.5em;
    color: #2196f3;
    cursor: pointer;
    padding-left: 59em;
}
.ft-300{
    font-weight: 300;
}
.p-3b{
    padding-bottom: 3em;
}
.bt-width{
    width: 10em;
}
.p-1t{
    padding-top: 1em;
    cursor: pointer;
}
.ft-15{
    font-size: 1.5em;
}
input[type="checkbox"]{
  width: 16px; /*Desired width*/
  height: 16px; /*Desired height*/
}
